@import "tailwindcss";

@theme {
  --color-primary: #fb8e17;
  --color-primary-dark: #e07a0d;
}

@layer base {
  html {
    -webkit-overflow-scrolling: touch;
  }
  body {
    @apply text-white bg-[#020617];
    overscroll-behavior: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
